*{

	margin: 0;
	padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;	
	line-height: 1.5;
	padding: 0;
	margin: 0;
	/*background: #F2DFBB;*/
	background-image: url(../img/gearsbackgroundfon.jpg);
	
}
/*header*/

header {
	
	background: transparent;	/*#F2DFBB;*/
	color: 		green;		/*#D97639;*/
	min-height: 80px;
	
}
.container#header{

	height: 80px;
	background: #ff9622;/*#054139;*/
}
	header a {

	color: #62fcff;/*#ffffff;*/
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {

float: left;
display: inline;
padding: 0 20px 0 20px;

}

header #branding {
float: left;

}

header #branding h1 {
margin: 0;
}

header nav {

float: right;
margin-top: 30px;
}

header .highlight, header .current a{

	color: #e8491d;
	font-weight: bold;
	
}

header a:hover {
color: #cccccc;
font-weight: bold;
}

/*

Тестовый блок

*/


.container#test{

	background: green;
	color: red;
}

/*
конец тестового блока
*/

/*main body*/
.container{

	width: 90%;
	color: #ffffff; /*#F2DFBB;*/
	font-style: italic;
	background:#cc9a07;/*#ff9622; /*#066873;*/
	overflow: hidden;
	margin:auto;
	
}

#branding h1{
	font-color: #D97639
	font-size:500%;

}

#branding img{

	padding-top: 0;
	padding-left: 60px;
	max-width: 100px;
	height: auto;

}

.contacts{
	margin: 20px;
	/*background: green;*/
}
.contacts#addres h2
{
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	font-size: 200%;
	font-weight: 900;
	
}

.contacts#addres p
{
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	font-size: 100%;
	font-weight: 900;
	 

}


.container#indexcon2{
	text-align: center;
	width: 40%;
	float: left;
}

.container#indexcon3{
	
	width: 30%;
	float: left;
}

.container#indexcon4{
	
	width: 30%;
	float: left;
}
 .ico {
	width: 36px;
	height: 36px;
	vertical-align: middle;
}

.container#mainp{
	min-height: 300px;
	width: 70%;
	float: left;

	
	
}
.container#productp{
	height:auto;
	width: 100%;
	float: left;
	text-align: center;
	
	
	
}


.container#mainp h3{
	font-size: 1.3em;
	text-align: center;
	padding: 10px 10px 0 30px;
}

.container#mainp p{
	font-size: 1.1em;
	text-align: center;
	padding: 10px 0 0;
}

.container#mainp li{
	font-size: 1.1em;
	margin-left: 100px;
	margin-top: 5px;
	/*color: black;*/

}

.container#mainpside{
	min-height: 300px;
	width: 30%;
	float: left;
	overflow: auto;
	/*display: none;*/
	/*background: red;*/
	
}

#map
{
	outline: 4px solid #07cc98;
}

/*boxes*/
#boxes{
	margin: 0;

}

.box{
width: 25%;
float: left;
text-align: center;
}

.box img{
	margin-top: 10px;
	width: 80%;
	outline: 3px solid #ffffff;
}

.box img:hover {
	
	outline: 3px solid #07cc98;

}
.box a:hover {
	
	color:#07cc98;

}

.box a {

	text-transform: uppercase;
	color:#ffffff;
}
/* boxes products*/

.boxp{
width: 20%;
float: left;
text-align: center;
}

.boxp img{
	margin-top: 10px;
	width: 80%;
	outline: 3px solid #ffffff;
}

.boxp img:hover {
	
	outline: 3px solid #07cc98;

}
.boxp a:hover {
	
	color:#07cc98;

}

.boxp a {

	text-transform: uppercase;
	color:#ffffff;
}

/*box2 2 pictures lockring*/


.box2 {
width: 50%;
float: left;
text-align: center;
}

.box2#test {
background: red;
color: green;
}



/*aside*/



iframe {
	padding: 5px 0 5px 0;
	
	/*margin-top: 20px;
	margin-right: 20px;
	align-self: stretch;*/
}

/*class certificate*/
/*.certificate img:hover
{

	width: 485px;
	height: auto;
	outline: 3px solid red;
}*/

.certificate img {
	cursor: pointer;
	max-width: 100px;
	/*outline: 3px solid #07cc98;*/
}


.whitepage{

	background: white;
	color: black;
	margin-left:20px;
	margin-right: 20px;
	height: auto;
	overflow: hidden; /*решение воорса с картинкой сальника но тогда уходит таблица в тележке*/
}

.whitepage#test{

	background: red;
	color: black;
	margin-left:20px;
	margin-right: 20px;
}



.whitepage p {
 margin:  10px 10px 5px 10px;

}

.whitepage img {

	width: 25%;
	height: auto;
	margin: 30px;
	float: left;
}


/* page belts*/

/*.whitepage#belts img {

	width: 25%;
	height: auto;
	margin: 30px;
	float: right;
}*/

#belts_img_left img {

	width: 100%;
	width: 25%;
	height: auto;
	margin: 30px;
	float: left;

}

#belts_img_right img {

	width: 100%;
	width: 25%;
	height: auto;
	margin: 30px;
	float: right;

}

/*totop button*/
#toTop {
    width: 50px;
    /*height: 50px;*/
    position: fixed;
    bottom:  50px;
    right: 10px;
    cursor: pointer;
    display: none;
    background: white;/*#FF9622;*/

    border: 3px solid #07cc98;
    padding: 5px;
    text-align: center;
    color: #404040;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    z-index: 1000;
}






/*footer*/

footer{

	
	color: #07cc98;/*#ffffff;*/
	text-align: center;
	
	
}

.container#footer{
	color: #62fcff;
	background: #FF9622;/*#054139;*/
}